body {
  background-color: #e0e0e0;
}

.card--width-reduced {
  border: none;
  margin: 5em;
  background-color: #ffeb3b !important;
}

.submitButton {
  background-color: #9e9e9e;
  color: white;
  transition: 0.3s;
}

.submitButton:hover {
  background-color: #757575;
  color: white;
}
