body {
  background-color: #e0e0e0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.title {
  margin: auto;
}

.card--width-reduced {
  border: none;
  margin: 5em;
  background-color: #ffeb3b !important;
  border-radius: 2em !important;
}

.submitButton {
  background-color: #9e9e9e;
  color: white;
  transition: 0.3s;
  border-radius: 2em;
  margin-top: 1em;
}

.submitButton:hover {
  background-color: #757575;
  color: white;
}

.inputBox--border-round {
  border-radius: 2em;
}

.resultCard {
  border-radius: 2em;
  position: relative;
  margin: 1em;
}

.resultCard im {
  border-radius: 2em;
}

select {
  border-radius: 2em !important;
  margin-top: 2em;
}

.card-img--corner-round {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.card-body--margin {
  margin-top: 5em !important;
}
